<%= csrf_meta_tags %>
<script src="http://d2o0t5hpnwv4c1.cloudfront.net/001_Tabbed/site/scripts/jquery-1.2.3.min.js"></script>
<script>	
	  // When the document loads do everything inside here ...
	  $(document).ready(function(){		  
		// When a link is clicked
		$("a.tab").click(function () {			
			// switch all tabs off
			$(".active").removeClass("active");			
			// switch this tab on
			$(this).addClass("active");			
			// slide all content up
			$(".content").slideUp();		
			// slide this content up
			var content_show = $(this).attr("title");
			$("#"+content_show).slideDown();
			return false;		  
		});	
	  });
</script>
<script type="text/javascript">
function showonlyone(thechosenone) {
			var newboxes = document.getElementsByTagName("div");
						for(var x=0; x<newboxes.length; x++) {
									name = newboxes[x].getAttribute("name");
									if (name == 'newboxes') {
												if (newboxes[x].id == thechosenone) {
												newboxes[x].style.display = 'block';
									}
									else {
												newboxes[x].style.display = 'none';
									}
						}
			}
}</script>
<div id="midcontainer">	
<br /><br />
<!-left panel with inbox-!>
<div style="width:230px;float:left;">
	<!-profile image and data-!>
	<div class="circle-image-one-fourth" style="margin-left:0px;">
		<img class="aligncenter" style="width:188px;" src=<%= photo=@page.picture + "&type=large"%>>
		<table>
			<tr height="21px;">
				<td><%= image_tag "house.png" %></td>
				<td><%=@profile.hometown%></td>
			</tr>
			<%if @profile.current_location?%>
			<tr height="21px;">
				<td><%= image_tag "crosshair.png" %></td>
				<td><%=@profile.current_location%></td>
			</tr>
			<%end%>
			<tr height="21px;">
				<td><%= image_tag "vcard.png" %></td>
				<td style="line-height:21px;">Member since <%=@profile.created_at.strftime("%b %Y")%></td>
			</tr>
			<tr height="21px;">
				<td><%= image_tag "check_alt.png" %></td>
				<td><a href=<%=@profile.link%>>Facebook verified</a></td>
			</tr>
			<tr>
				<td><%= image_tag "heart.png" %></td>
				<td><%=@user.friends.count%> friends</td>
			</tr>
			<tr>
				<td><%= image_tag "rating.png" %></td>
				<td>Average rating: <%= @rev.average("rating")%></td>
			</tr>
			<%if @profile.accept_paypal%>
				<tr>
				<td><%= image_tag "check_alt.png" %></td>
				<td><%= image_tag("payment_icon.gif", size: "120x30") %></td>
			</tr>
			<%end%>
		</table>
	</div>

	<!-inbox-!>
	<div id="tabbed_box_1" class="tabbed_box" style="margin-top:17px;">
		<%if current_user == @user%>
		<div class="tabbed_area">	
		  	<ul class="tabs">
		    	<li><a href="#" title="content_1" class="tab active">Inbox</a></li>
		      <li><a href="#" title="content_2" class="tab" style="margin-left:1px;">Sent</a></li>
		      <li><a href="#" title="content_3" class="tab" style="margin-left:1px;">Trash</a></li>
		    </ul>
		  	<div id="content_1" class="content">
					<ul>
					<% @inbox.each do |receipt|%>
		    		<li>
							<a data-toggle="modal" href=#<%=receipt.hash%> ><%= receipt.message.subject%><br>
								<div class="modal hide fade" id=<%=receipt.hash%>>
									<div class="modal-header">
										<a class="close" data-dismiss="modal">×</a>
								  	<h3><%= receipt.message.subject%></h3>
									</div>
									<div class="modal-body">
										<p><%=receipt.message.body%></p>
									</div>
									<%=form_tag reply_message_user_profiles_path(@profile), method: :get do %>
										<%= hidden_field_tag 'receipt', receipt.id%> 
										<div class = "modal-header">
											<h3>Reply</h3>
										</div>
										<div class = "modal-body">
											<%= text_area_tag :body, params[:body], class:"input-xxlarge", placeholder: "Message", rows:"7",  %><br> </p>
										</div>
										<div class="modal-footer">
											<%= link_to 'Move To Trash', trash_user_profiles_path(@profile, :receipt=> receipt), :method => 'get', :confirm => 'Are you sure?', :class => 'btn btn-danger'%>
											<a href="#" class="btn", data-dismiss="modal">Close</a>
											<%= submit_tag "Reply", :name => nil, class: "btn btn-primary" %>								
										</div>
									<%end%>
								</div>
							</a>
						</li>
					<%end%>
					</ul>
		   	</div>
		   	<div id="content_2" class="content">
		   		<ul>
					<% @sentbox.each do |receipt|%>
		      	<li>
							<a data-toggle="modal" href=#<%=receipt.hash%> ><%= receipt.message.subject %><br>
								<div class="modal hide fade" id=<%=receipt.hash%>>
									<div class="modal-header">
										<a class="close" data-dismiss="modal">×</a>
								  	<h3><%= receipt.message.subject%></h3>
									</div>
									<div class="modal-body">
										<p><%=receipt.message.body%></p>
									</div>
									<div class="modal-footer">
										<a href="#" class="btn", data-dismiss="modal">Close</a>
									</div>
								</div>
							</a>
						</li>
					<%end%>
					</ul>
		  	</div>
		   	<div id="content_3" class="content">
		     	<ul>
						<% @trash.each do |receipt|%>
						<li><a href=""><%= receipt.message.subject%></a></li>
						<%end%>
					</ul>
		  	</div>
		</div>			
		<%else%>
		<div class="circle-image-one-fourth" style="margin-left:0px;">
		<a data-toggle="modal" href=#send_message class="btn btn-primary" style="width:165px;">Send a message</a><br>
		</div>
		<div class="modal hide fade" id="send_message">
			<div class="modal-header">
  			<a class="close" data-dismiss="modal">×</a>
   			<h3>Send Message</h3>
			</div>
			<div class="modal-body">
  			<p><%=form_tag send_message_user_profiles_path(@profile), method: :get do %>
       	<%= text_area_tag :body, params[:body], class:"input-xxlarge", placeholder: "Message", rows:"7",  %><br> </p>
      	<div class="modal-footer">
        	<a href="#" class="btn", data-dismiss="modal">Close</a>
        	<%= submit_tag "Send", :name => nil, class: "btn" %>
      	</div>
				<%end%>
			</div>
    </div>
		<%end%>
	</div>	
</div>


<!-right panel with name/data/ride/booking-!>
<div style="width:700px;float:right;">
	<!-name w/ edit link-!>
	<div class="profileName">
		<%=@profile.name%>
		<%if @user==current_user%>
			<%=link_to image_tag("settings.png")+ "Edit Profile", user_profile_path(@user,@profile ), :class=>"profNameEdit"%>
		<%end%>
	</div>
	
	<!-user data-!>
	<div>
		<table>	
					<%if !@booking_offers.where(user_id: current_user, accepted: true).empty? or @user==current_user%>
			<tr height="40px;">
				<td>Email</td>
				<td><%=@profile.email%></td>
			</tr>
			<%if !@profile.phone.nil?%>
				<tr height="40px;">
					<td>Phone</td>
					<td><%=number_to_phone(@profile.phone)%></td>
				</tr>
			<%end%>
			<%end%>			
			<%if @profile.music? || @profile.interest? || @profile.work?%>
			<tr height="40px;">	
				<td><h3>About me</h3></td>
			</tr>
			<%if @profile.music?%>
			<tr height="40px;">
				<td width="100px;">Music</td>
				<td><%=@profile.music%></td>
			</tr>
			<%end%>
			<%if @profile.interest?%>
			<tr height="40px;">
				<td>Interests</td>
				<td><%=@profile.interest%></td>
			</tr>
			<%end%>
			<%if @profile.work?%>
			<tr height="40px;">		
				<td>Work</td>
				<td><%=@profile.work%></td>
			</tr>
			<%end%>
			<%if !@user.educations.nil?%>
			<tr height="40px;">
				<td>Education </td>
				<td>
						<% @user.educations.each do |education|%>
						<%=education.name%>
						<%=education.year %><br>
						<%end%>
				</td>
			</tr>
			<%end%>
			<%end%>
		</table>			
	</div>
	
	<!-ride-!>
	
	<div>
		<b>Rides</b>
		<%if @posts.empty?%>
		<table class="table table-striped" style="width:700px;">
		  <tbody>
		   	<a>
				<tr height="80px;">
		    	<td width="80px;"></td>
		      <td>
						<div style="font-size:20px;margin-top:8px;">
							No Rides
							<br>
							<div style="font-size:14px; color:#16949c"></div>
						</div>
					</td>
		      <td>
		      </td>
		    </tr>
				</a>
			</tbody>   
		</table>
		<%else%>
		<table class="table table-striped" style="width:700px;">
		  <tbody>
		  <% @posts.each do |ride|%>
		  	<a>
				<tr>
		      <td>
						<div style="font-size:20px;margin-top:2px;margin-bottom:2px;float:left;">
							<%=ride.start.city%> <%= image_tag "arrow_right.png" %> <%=ride.finish.city%>
							
						</div>
						<div class="ridesDate">
							<%= image_tag "calendar.png" %> Departs at <%= ride.startdate %>
						</div>
					</td>
		      <td style="text-align:right;">
		      <%if @user== current_user%>
		 				<%= link_to image_tag("settings.png")+ "Edit", edit_post_path(ride), :class=> 'ridesEdit' %>
						<%= link_to image_tag("cross.png") + 'Delete', post_path(ride), :method => 'delete', :confirm => 'Are you sure?', :class => 'ridesDelete' %>
						<%end%>
		      </td>
		    </tr>
				</a>
			</tbody>   
			<% end %>
		</table>
		<%end%>
	</div>
	
	<!-Booking Table-!>
	<div class="tabbed_area">
		<!-tabs-!>
		<ul class="tabs">
			<%if @user==current_user%>
			<li><a id="myHeader1" href="javascript:showonlyone('newboxes1');" style="color: GRAY">Booking Offers</a></li>	
			<li><a id="myHeader2" href="javascript:showonlyone('newboxes2');" style="color: GRAY">Request Requests</a></li>
			<%end%>				 
			<li><a id="myHeader3" href="javascript:showonlyone('newboxes3');" style="color: GRAY">Reviews</a></li>
		</ul>
		<!-contents-!>				 
		<!-			 div no.1	 BOOKING OFFERS		-!>
		<%if @user==current_user%>
		<div name="newboxes" id="newboxes1" style="display: block;" class="content">
			<ul>
			<%@booking_offers.each do |offer|%>
				<li><a>
					<%=offer.post.start.city%>
					<%=offer.post.finish.city%> by
					<%=offer.user.name%>
					<%if offer.accepted?%>
						<%=link_to "Reject Offer", reject_user_profiles_path(:booking=>offer), class: "btn btn-fail", :confirm => "Are you sure you want to reject this booking", %>
					<%else%>
						<%=link_to "Accept Offer", accept_user_profiles_path(:booking=>offer), class: "btn", :confirm => "Are you sure you want to accept this booking"%>
						<%=link_to "Accept Offer And Close the ride", accept_and_close_user_profiles_path(:booking=>offer), class: "btn", :confirm => "Are you sure you want to accept this booking and close the ride"%>
					<%end%>
				<%end%>
				</a></li>
			</ul>
		</div>
		<!-			 div no.2			-!>
		<div name="newboxes" id="newboxes2" style="display: none;" class="content">
			<ul>
			<%@booking_requests.each do |offer|%>
				<li><a>
					<%=offer.post.start.city%>
					<%=offer.post.finish.city%> by
					<%=offer.post.user.name%>
					<b>Status:</b>
					<% if offer.rejected?%>
						Rejected
						<%elsif offer.accepted? %>
						Accepted
						<%else%>
						Pending
					<%end%>
				</a></li>
				<%end%>	
			</ul>
		</div>
		<%end%>
		<!-end of booking-!>
		<!-Ratings-!>
		<!-			 div no.3			-!>
		<%if @user==current_user%>
		<div name="newboxes" id="newboxes3" style="display: none;" class="content">
		<%end%>
		<%if @user!=current_user%>
		<div name="newboxes" id="newboxes3" style="display: block;" class="content">
		<%end%>
			<ul>
			<%@rev.each do |review|%>
				<li><a>
					<%if review.rating==1%>
						<%=image_tag "rating.png"%><%=image_tag "unrating.png"%><%=image_tag "unrating.png"%><%=image_tag "unrating.png"%><%=image_tag "unrating.png"%>
					<%elsif review.rating==2%>
						<%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "unrating.png"%><%=image_tag "unrating.png"%><%=image_tag "unrating.png"%>
					<%elsif review.rating==3%>
						<%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "unrating.png"%><%=image_tag "unrating.png"%>
					<%elsif review.rating==4%>
						<%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "unrating.png"%>
					<%elsif review.rating==5%>
						<%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "rating.png"%><%=image_tag "rating.png"%>
					<%end%>
					<b>Notes:</b><%=review.review%>
					
				</a></li>
			<%end%>
			</ul>
		</div>
	</div>				

	<!-Review-!>
	<div class="tabbed_area" style="margin-top:8px;">
		<%if !Booking.where(user_id: current_user, post_id: @user.posts, accepted:true).empty?%>
			<%=form_tag review_create_user_profiles_path,:html => { :class => 'form-horizontal' } do%>
				<div class="control-group">
					<div class="controls">
	 					Review: <br><%= text_area_tag :review,nil, :size => "225x5" %><br>
	  				Rating:<%= select_tag :rating, options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5']]) %>
					</div>
				</div>
				<%=submit_tag %>
			<%end%>
		<%end%>
	</div>
</div>


