	<div id="midcontainer">
<strong> This is profile page</strong><br>

<%=@user.first_name%><br>
<%=@user.last_name%><br>
<%=@user.gender%><br>
<%=@user.link%><br>
<%=@user.verified%><br>
<%=@user.date_of_birth%><br>
<%=@user.current_location%><br>
<%=@user.hometown%>
<br>

<div  class= "row" style ="background-color: #049cbd;"><b>My rides</b></div>
<br>
<%@user.user.posts.each do |ride|%>
From: <%=ride.start.address%>
To: <%=ride.finish.address%><br>
<%= link_to 'Edit', edit_post_path(ride), :class => 'btn' %>
  <%= link_to 'Delete', post_path(ride), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
<%end%>
</div>