<%= csrf_meta_tags %>

<div id="midcontainer"> 
<br /><br />

<table border="0">
	<tr>
		<td width="230px" rowspan="3" style="vertical-align:top;">	
			<div class="circle-image-one-fourth" style="margin-left:0px;">
				<img class="aligncenter" style="width:188px;" src=<%= photo=@page.picture + "&type=large"%>>
				<table>
					<tr height="21px;">
						<td><%= image_tag "house.png" %></td>
						<td><%= best_in_place @profile,:hometown, :path => user_profile_path%></td>
					</tr>
					<tr height="21px;">
						<td><%= image_tag "crosshair.png" %></td>
						<td><%=@profile.current_location%></td>
					</tr>
					<tr height="21px;">
						<td><%= image_tag "vcard.png" %></td>
						<td style="line-height:21px;">Member since<%=@profile.created_at.strftime("%b %Y")%></td>
					</tr>
					<tr height="21px;">
						<td><%= image_tag "check_alt.png" %></td>
						<td><a href=<%=@profile.link%>>Facebook verified</a></td>
					</tr>
					<tr>
						<td><%= image_tag "heart.png" %></td>
						<td><%=@profile.user.friends.count%> friends</td>
					</tr>
				</table>
			</div>
		</td>
		<td width="700px" height="60px">
			<div class="profileName"> <%=link_to @profile.name, user_profiles_path(@user)%></div>
		</td>
	</tr>
	<tr>
		<td>
			<table class="table table-striped">
				<tr height="40px;">
					<td width="100px;">Name</td> 
					<td>
						<%=best_in_place @profile, :name, :path => user_profile_path, :nil => "add content!",:activator => "#Name"%>
					</td>
					<td>
						<a id="Name" href="#">(edit)</a>
					</td>
				</tr>
				<tr height="40px;">
					<td>Email</td>
					<td>
						<%=best_in_place @profile, :email, :path => user_profile_path,:nil => "add content!",:activator => "#email"%>
					</td>
					<td>
						<a id="email" href="#">(edit)</a>
					</td>
				</tr>
				<tr height="40px;">
					<td>Phone</td>
					<td>
						<%=best_in_place @profile, :phone, :path => user_profile_path,:nil => "Add Your phone Number!",:activator => "#phone"%>
					</td>
					<td>
						<a id="phone" href="#">(edit)</a>
					</td>
				</tr>
				<tr height="40px;">
					<td colspan="2"><b>Payment Details</b></td><td></td>
				</tr>
				<tr height="40px;">
					<td>Accept Paypal</td>
					<td>
						<%=best_in_place @profile, :accept_paypal, :path => user_profile_path, type: :checkbox, collection: %w[No Yes],:nil => "Change",:activator => "#paypal"%>
					</td>
					<td>
						<a id="paypal" href="#">(edit)</a>
					</td>
				</tr>
					<tr height="40px;">
					<td> Paypal Email<a href="#" rel="popover" data-content="If you agree to recieve money through paypal the money you recieved from your carpooling buddy will be transfered to this email." data-original-title="Paypal Money transfer"><i class="icon-question-sign"></i></a></td>
					<td>
						<%=best_in_place @profile, :paypal_email, :path => user_profile_path, :nil => "Change",:activator => "#pEmail"%>
					</td>
					<td>
						<a id="pEmail" href="#">(edit)</a>
					</td>
				</tr>

				<tr height="40px;">
					<td colspan="2"><b>About me</b></td><td></td>
				</tr>
				
				<tr height="40px;">
					<td width="100px;">Music</td> 
					<td>
						<%=best_in_place @profile, :music, :path => user_profile_path, type: :textarea,:nil => "Click me to add content!",:activator => "#Music"%>
					</td>
					<td>
					<a id="Music" href="#">(edit)</a>
					</td>
				</tr>
				
				<tr height="40px;">
					<td width="100px;">Interests</td>
					<td>
						<%=best_in_place @profile, :interest, :path => user_profile_path, type: :textarea, :nil => "Add content!",:activator => "#Interest"%>
					</td>
					<td>
						<a id="Interest" href="#">(edit)</a>
					</td>
				</tr>
				
				<tr height="40px;">
			
					<td>Work</td>
					<td>
						<%=best_in_place @profile, :work, :path => user_profile_path, type: :textarea,:nil => "Click me to add content!",:activator => "#Work"%>
					</td>
					<td>
						<a id="Work" href="#">(edit)</a>
					</td>
				</tr>
				<tr height="40px;">
			
					<td>Home Town</td>
					<td>
						<%=best_in_place @profile, :hometown, :path => user_profile_path,:nil => "Click me to add content!",:activator => "#Home"%>
					</td>
					<td>
						<a id="Home" href="#">(edit)</a>
					</td>
				</tr>
				<tr height="40px;">
			
					<td>Current Location</td>
					<td>
						<%=best_in_place @profile, :current_location, :path => user_profile_path,:nil => "Add content!",:activator => "#Curr"%>
					</td>
					<td>
						<a id="Curr" href="#">(edit)</a>
					</td>
				</tr>
				<tr height="40px;">
					<td width="100px;">Prefer Smoking?</td>
					<td>
						<%= best_in_place @profile, :smoking, :path => user_profile_path, type: :checkbox, collection: %w[No Yes],:activator => "#smoking"%>
					</td>
					<td>
						<a id="smoking" href="#">(Change)</a>
					</td>
				</tr>
				
				<tr height="40px;">
					<td>Education</td>
					<td>
							<% @profile.user.educations.each do |education|%>
							Institute: <%=best_in_place education,:name, :path => user_profile_path%>
							<br>
							Year: <%=best_in_place education,:year, :path => user_profile_path %>
														<br>
							<%end%>
					</td>
				</tr>
			</table>
		</td>
	</tr>

</table>
</div>
