
<div class="homeTop">
	<br />
	<br />
	<div id="midcontainer">
		<div style="width:400px; padding-left:40px; padding-top: 40px; float:left;">
		<%= form_tag posts_path, :class => 'welledited form-search', :method => :get do%>
  		<div class= "row" style="width=400px;">
    		<div class= "span4edited">
      		<%= text_field_tag :start, params[:start], class: 'input-long search-query span4edited', placeholder: "From"%> 
     		</div>
			</div>
			<div class= "row">
    		<div class= "span4edited" style="padding-top:10px;">
      		<%= text_field_tag :finish, params[:finish], class: 'input-long search-query span4edited', placeholder: "To" %>
     		</div>
    	</div>
			<div class= "row">	
				<div class= "span4edited" style="padding-top:10px;">
      		<%= submit_tag "Search Near", :name => nil %>
    		</div>
   		</div> 
		</div>
		
		<div class="frontpageText">
			Ozride Real-Time Ridesharing.<br /><br />
			<p style="font-size:20px;">Share a ride whenever you want, from wherever you are.</p>
		</div> 
	</div>
</div>

<% end %>

<div id="midcontainer">
	<!-latest rides-!>
	<div class="frontpageText" style="color:#333;padding-left:0px;padding-top:25px;padding-bottom:25px;">Latest Rides</div>
		<table class="table table-striped" style="width:550px;float:left;">
			<tbody>
				<% Post.last(4).reverse.each do |post| %>
					<a>
						<tr height="80px;">
    					<td width="80px;">
								<img src=<%= "http://graph.facebook.com/"+post.user.uid+"/picture&type=square"%> class="postindexProfilepic">
							</td>
    					<td>
								<div style="font-size:20px;margin-top:8px;">
									<%= post.start.city %> <%= image_tag "arrow_right.png" %> <%= post.finish.city %>  
								</div>
								<br>Departs <%= link_to post.time, post_path(post) %>, <%= link_to post.startdate, post_path(post) %>
							</td>
    					<td width="80px;">
								<%if post.is_driving == true%> 
									<div style="margin-top:7.5px;text-align:center;">
										<%= image_tag "isDriver.png" %> <br>$<%= post.contribution%> per seat
									</div>
								<%else%>
									<div style="margin-top:7.5px;text-align:center;">
										<%= image_tag "isPassenger.png" %> <br>is passenger 
								<%end%>
									</div>
							</td>
  					</tr>
					</a>
				<%end%>
			</tbody>
		</table>		
	
	<!-user savings-!>
	<div class="userSaving">
		USER SAVINGS TO DATE (place holder)
		<%= image_tag "saving.jpg" %>
		$xxx,xxx   ||  xxxxx tonnes  ||  travel xxxxxx m
	</div>
	
</div>