<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Post</legend>

    <div class="control-group">
      <%= f.label :starttime, :class => 'control-label' %>
      <div class="controls">
        <%= f.datetime_select :starttime %>
      </div>
    </div>


 
    <%= f.fields_for :start do |builder| %>
        <%= render "start_fields", :f => builder %>
    <% end %>
   
    <%= f.fields_for :finish do |builder| %>
      <%= render "finish_fields", :f => builder %>
    <% end %>

    <%= f.fields_for :stops do |builder| %>
      <%= render "stop_fields", :f => builder %>
    <% end %>
     <div class="control-group">   
     <div class = "controls">       
     <a class="btn btn-info" data-toggle="modal" href="#myModal" >Add stop</a>
</div>         
    
</div>         
<div class="modal hide" id="myModal" style="display: none; " >
       



<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Stops</h3>
  </div>
  <div class="modal-body">
    
    <em>Click on add stop to list all the places your journey will go through. this will help us improve the search. <strong> Press enter once you are done.</strong></em>
    
  
 
    <div>
    <%= link_to_add_association 'Add Stop', f, :stops , class: 'btn'%>
   </div>
   
    
    
  </div>

</div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', posts_path, :class => 'btn' %>
    </div>
  
  </fieldset>
<% end %>
