<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>Post a <%= controller.action_name.capitalize %> ride</legend>
		<div class ="row">
    <div class = "span4">
				<div class="control-group">
				 		 <%= f.label :date, :class => 'control-label' %>
						<div class="controls">
						  <%= f.datepicker :startdate %>
						  
						</div>
					</div>
		</div>
		<div class = "span4">
					<div class = "control-group">
					<%= f.label :time, :class => 'control-label' %> 
					<div class = "controls">
					<%= f.select :time, options_for_select([
					['Anytime','Anytime'],
					['Early','Early'],					['Morning','Morning'],
					['Evening','Evening'],					['Night','Night'],
					['1 am','0100'],					['2 am','0200'],
					['3 am','0300'],					['4 am','0400'],
					['5 am','0500'],					['6 am','0600'],
					['7 am','0700'],					['8 am','0800'],
					['9 am','0900'],					['10 am','1000'],
					['11 am','1100'],					['12 pm','1200'],
					['1 pm','1300'],					['2 pm','1400'],
					['3 pm','1500'],					['4 pm','1600'],
					['5 pm','1700'],					['6 pm','1800'],
					['7 pm','1900'],					['8 pm','2000'],
					['9 pm','2100'],					['10 pm','2200'],
					['11 pm','2300'],					['12 am','2400']			]) %>
					</div>
					</div>
		</div>
		</div>
 
    <%= f.fields_for :start do |builder| %>
        <%= render "start_fields", :f => builder %>
    <% end %>
   
    <%= f.fields_for :finish do |builder| %>
      <%= render "finish_fields", :f => builder %>
    <% end %>

    <%= f.fields_for :stops do |builder| %>
      <%= render "stop_fields", :f => builder %>
    <% end %>
     <div class="control-group">   
     <div class = "controls">       
     <a class="btn btn-info" data-toggle="modal" href="#myModal" >Add stop</a>
</div>         
    
</div>         
<div class="modal hide" id="myModal" style="display: none; " >
       



<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Stops</h3>
  </div>
  <div class="modal-body">
    
    <em>Click on add stop to list all the places your journey will go through. this will help us improve the search. <strong> Press enter once you are done.</strong></em>
    
  
 
    <div>
    <%= link_to_add_association 'Add Stop', f, :stops , class: 'btn'%>
   </div>
   
    
    
  </div>

</div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', posts_path, :class => 'btn' %>
    </div>
  
  </fieldset>
<% end %>
