<div id="midcontainer">

	<%= form_tag posts_path, :class => 'well form-search', :method => :get do%>
  <div class= "row">
    <div class= "span3">
      <%= text_field_tag :start, params[:start], class: 'input-long search-query span3', placeholder: "From"%> 
     </div>
    <div class= "span3">
      <%= text_field_tag :finish, params[:finish], class: 'input-long search-query span3', placeholder: "To" %>
     </div>
     <div class= "span3">
				 <div class= "row">
					 <div class = "span1 ">
						<%= text_field_tag :date, params[:date], class: 'input-medium search-query',placeholder: Date.today %>
				<script type="text/javascript">
										//<![CDATA[
										jQuery(document).ready(function(){jQuery('#date').datepicker({"dateFormat":"yy-mm-dd",
										 minDate: -0, autoSize: true
											
										})});
										//]]>
					</script>
					 </div>
					<div class= "span1 offset1">
						<%= submit_tag "Search Near", :name => nil, class:'btn' %>
					</div>
				</div>	
   </div> 
   </div> 

<% end %>

<div class= "row">
	<div class= "span6" align = "left">
		<%= link_to 'Post a new ride', new_post_path, :class => 'btn btn-primary' %></div>
	</div>
	<table class="table table-striped" style="width:700px;">
  	    	<tbody>
    		<% @searchresults.each do |post| %>
      		<a>
						<tr height="80px;">
        			<td width="80px;">
								<!- EDIT this with correct facebook profile pictures->
								<img src="http://graph.facebook.com/100000091986399/picture" class="postindexProfilepic">
							</td>
        			<td>
								<div style="font-size:20px;margin-top:8px;">
									<%= post.start.city %> <%= image_tag "arrow_right.png" %> <%= post.finish.city %>  
								</div>
								<br><%= link_to post.startdate, post_path(post) %>
								<br><%= link_to post.time, post_path(post) %>
							</td>
        			
      			</tr>
					</a>
				</tbody> 
 			
  	<%end%>
	</table>
</div>
