<div id="midcontainer">
<%= params[:is_driving]%>
	<%= form_tag posts_path, :class => 'well form-search', :method => :get do%>
  <div class= "row">
    <div class= "span3">
      <%= text_field_tag :start, params[:start], class: 'input-long search-query span3', placeholder: "From"%> 
     </div>
    <div class= "span3">
      <%= text_field_tag :finish, params[:finish], class: 'input-long search-query span3', placeholder: "To" %>
     </div>
     <div class= "span3">
				 <div class= "row">
					 <div class = "span1 ">
						<%= text_field_tag :date, params[:date], class: 'input-medium search-query',placeholder: Date.today %>
				<script type="text/javascript">
										//<![CDATA[
										jQuery(document).ready(function(){jQuery('#date').datepicker({"dateFormat":"yy-mm-dd",
										 minDate: -0, autoSize: true
	
										})});
										//]]>
					</script>
					 </div>
					<div class= "span1 offset1">
						<%= submit_tag "Search Near", :name => nil, class:'btn' %>
					</div>
				</div>	
   </div> 
   </div> 

<% end %>
<div class= "row">
	<div class= "span4">
		<%= link_to 'Post a new ride', new_post_path, :class => 'btn btn-primary' %>
	</div>
	<div class= "span4" >
	</div>
	
<!- Search Filter---------------------------->

<div class= "span4" align= "right">
	<%if params[:is_driving]== 'false'%>
		<%= link_to "Passenger", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: false), class: 'btn btn-success', :style=>'margin-left:15px;' %>
		<%= link_to "Driving", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: true), class: 'btn' %>
		<%= link_to "Show All", posts_path(start: params[:start],finish: params[:finish],date: params[:date],), class: 'btn'%>
	<%elsif params[:is_driving]== 'true'%>
		<%= link_to "Passenger", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: false), class: 'btn', :style=>'margin-left:15px;' %>
		<%= link_to "Driving", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: true), class: 'btn btn-success' %>
		<%= link_to "Show All", posts_path(start: params[:start],finish: params[:finish],date: params[:date],), class: 'btn'%>
	<%else%>
		<%= link_to "Passenger", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: false), class: 'btn', :style=>'margin-left:15px;' %>
		<%= link_to "Driving", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: true), class: 'btn ' %>
		<%= link_to "Show All", posts_path(start: params[:start],finish: params[:finish],date: params[:date]), class: 'btn btn-success'%>
	<%end%>
	</div>


	<table class="table table-striped" style="width:700px; float:left;">
  	    	<tbody>
  	    	<%if params[:is_driving].nil?%>
					<!-------- For Show all---------------------->
  	    <% Post.where(id: @searchresults).each do |post| %>
    		<a>
						<tr height="80px;">
        			<td width="80px;">
								<img src=<%= "http://graph.facebook.com/"+post.user.uid+"/picture&type=square"%> class="postindexProfilepic">
							</td>
        			<td>
								<div style="font-size:20px;margin-top:8px;">
									<%= post.start.city %> <%= image_tag "arrow_right.png" %> <%= post.finish.city %>  
								</div>
								<br><%= link_to post.startdate, post_path(post) %>
								<br><%= link_to post.time, post_path(post) %>
							</td>
        			<td width="80px;">
								<%if post.is_driving == true%> 
								driving
								<%else%> <%= post.user.name%> is a passenger <%end%>
							</td>
      			</tr>
					</a>
				</tbody> 		
  	<%end%>
  	<%else%>
<!--For is_driving-->

   <% Post.where(id: @searchresults).where(is_driving: params[:is_driving]).each do |post| %>
      	  		<a>
						<tr height="80px;">
        			<td width="80px;">
								<img src=<%= "http://graph.facebook.com/"+post.user.uid+"/picture&type=square"%> class="postindexProfilepic">
							</td>
        			<td>
								<div style="font-size:20px;margin-top:8px;">
									<%= post.start.city %> <%= image_tag "arrow_right.png" %> <%= post.finish.city %>  
								</div>
								<br><%= link_to post.startdate, post_path(post) %>
								<br><%= link_to post.time, post_path(post) %>
							</td>
        			
      			</tr>
					</a>
				</tbody> 
 			
  	<%end%>
  	<%end%>
    
	</table>

