<div id="midcontainer">
	<%= form_tag posts_path, :class => 'well form-search', :method => :get do%>
  <div class= "row">
    <div class= "span3">
      <%= text_field_tag :start, params[:start], class: 'input-long search-query span3', placeholder: "From","data-provide"=>"typeahead"%> 
     </div>
    <div class= "span3">
      <%= text_field_tag :finish, params[:finish], class: 'input-long search-query span3', placeholder: "To" %>
     </div>
    <div class= "span3">
			<div class= "row">
				<div class = "span1 ">
					<%= text_field_tag :date, params[:date], class: 'input-medium search-query',placeholder: Date.today %>
					<script type="text/javascript">
					//<![CDATA[
						jQuery(document).ready(function(){jQuery('#date').datepicker({"dateFormat":"yy-mm-dd",
							minDate: -0, autoSize: true	
						})});
					//]]>					
					</script>
				</div>
				<div class= "span1 offset1">
					<%= submit_tag "Search Near", :name => nil, class:'btn' %>
				</div>
			</div>	
   </div> 
   </div> 
<% end %>
	
<!- Search Filter-!>
<div class= "filters">
	<div class="filterHeader">
		Filters
	</div>
	<div style="margin-top:15px;">
	<%if params[:is_driving]== 'false'%>
		<%= link_to "Passenger", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: false), class: 'btn btn-success', :style=>'margin-left:15px;' %>
		<%= link_to "Driving", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: true), class: 'btn' %>
		<%= link_to "All", posts_path(start: params[:start],finish: params[:finish],date: params[:date],), class: 'btn'%>		
	<%elsif params[:is_driving]== 'true'%>
		<%= link_to "Passenger", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: false), class: 'btn', :style=>'margin-left:15px;' %>
		<%= link_to "Driving", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: true), class: 'btn btn-success' %>
		<%= link_to "All", posts_path(start: params[:start],finish: params[:finish],date: params[:date],), class: 'btn'%>		
	<%else%>
		<%= link_to "Passenger", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: false), class: 'btn', :style=>'margin-left:15px;' %>
		<%= link_to "Driving", posts_path(start: params[:start],finish: params[:finish],date: params[:date],is_driving: true), class: 'btn ' %>
		<%= link_to "All", posts_path(start: params[:start],finish: params[:finish],date: params[:date]), class: 'btn btn-success'%>
	<%end%>
	</div>
</div>
<!-end of Filter-!>
<!-Search Results-!>
<div class="filterHeader" style="width:700px;padding-left:0px;text-align:center;">
Search Results
</div>
	<table class="table table-striped" style="width:700px; float:left;">
  	<tbody>
			<!- For Show all->
  		<%if params[:is_driving].nil?%>
				<%  Post.where(id: @searchresults).order("startdate").each do |post| %>
				<a>
					<tr height="80px;">
        		<td width="80px;">
							<a href=<%=url_for(user_profiles_path(post.user))%>>
							<img src=<%= "http://graph.facebook.com/"+post.user.uid+"/picture&type=square"%> class="postindexProfilepic">
							</a>
						</td>
        		<td>
							<div style="font-size:20px;margin-top:8px;">
								<%=link_to post.start.city, post_path(post) %> <%= image_tag "arrow_right.png" %> <%= link_to post.finish.city, post_path(post) %> <br>
								<% post.stops.each do |stop|  %>
				  		<span class="st_tag"><a><%= stop.city %></a></span>
						<%end%> 
							</div>
							Departs in <%=  time_ago_in_words(post.startdate) %> (<%= post.startdate.strftime "%A, %B %d,%Y"%>)
					<%= "at "+ post.time if post.time != "Anytime" %>
						<br>
						<%if current_user and post.user != current_user%>
							<% if !current_user.friends.find_by_uid(post.user.uid).nil?%>
						<a href="#" rel="tooltip" data-original-title= "Facebook Friend">
							<%=image_tag("friends_icon.png", size: "30x30")%>
						</a>
						<%end%>
							
								<!-check for same uni-!>
								<%@educations.each do |inst|%>
								<%if !post.user.educations.where(:name => inst.name).empty?%>
						<a href="#" rel="tooltip" data-original-title= "You and <%=post.user.name%>  went to <%=inst.name%>">
						<%=image_tag("University.png", size: "30x30") %>
					</a>
					<%end%>
						<%end%>
						<% mutual_friends = @graph.get_connections("me", "mutualfriends/#{post.user.uid}").count%>
								<%if mutual_friends > 0 and post.user != current_user %> <%= mutual_friends%> Mutual friends
						
						<%end%> 
						 <%end%>
						</td>
						
        		<td width="80px;">
							<%if post.is_driving == true%> 
								<div style="margin-top:7.5px;text-align:center;">
									<%= image_tag "isDriver.png" %> <br>$<%= post.contribution%> per seat
								</div>
							<%else%>
								<div style="margin-top:7.5px;text-align:center;">
									<%= image_tag "isPassenger.png" %> <br>is passenger 
							<%end%>
								</div>
							</td>
      			</tr>
					</a>
					
					
			
  	<%end%>
  	<%if !Post.where('id NOT IN (?) and startdate > ?', @searchresults, Date.today).order("startdate").empty?%>
  	<!-Rest of the results->
		</tbody>
		</table>
		<div style="clear: both"></div>
		<div class="filterHeader" style="width:700px;padding-left:0px;text-align:center;">
			Rest of the Search Results
		</div>
		<table class="table table-striped" style="width:700px; float:left;">
  		<%  Post.where('id NOT IN (?) and startdate > ?', @searchresults, Date.today).each do |post| %>

				<a>
					<tr height="80px;">
        		<td width="80px;">
							<a href=<%=url_for(user_profiles_path(post.user))%>>
							<img src=<%= "http://graph.facebook.com/"+post.user.uid+"/picture&type=square"%> class="postindexProfilepic">
							</a>
						</td>
        		<td>
							<div style="font-size:20px;margin-top:8px;">
								<%= link_to post.start.city, post_path(post) %> <%= image_tag "arrow_right.png" %> <%= link_to post.finish.city, post_path(post) %> <br>
								<% post.stops.each do |stop|  %>
				  		<span class="st_tag"><a><%= stop.city %></a></span>
						<%end%> 
							</div>
							Departs in 
							<%=  time_ago_in_words(post.startdate) %>  (<%= post.startdate.strftime "%A, %B %d,%Y"%>)
							<%= "at"+post.time if post.time !="Anytime" %>
					
						<br>
						<%if current_user and post.user != current_user%>
							<% if !current_user.friends.find_by_uid(post.user.uid).nil?%>
						<a href="#" rel="tooltip" data-original-title= "Facebook Friend">
							<%=image_tag("friends_icon.png", size: "30x30")%>
							</a>
							<%end%>
								<%@educations.each do |inst|%>
								<%if !post.user.educations.where(:name => inst.name).empty?%>
						<a href="#" rel="tooltip" data-original-title= "You and <%=post.user.name%>  went to <%=inst.name%>">
						<%=image_tag("University.png", size: "30x30") %>
					</a>
					<%end%>
						<%end%>
						<% mutual_friends = @graph.get_connections("me", "mutualfriends/#{post.user.uid}").count%>
								<%if mutual_friends > 0 and post.user != current_user %> <%= mutual_friends%> Mutual friends
						
						<%end%> 
					
						<%end%> 
						</td>
						
        		<td width="80px;">
							<%if post.is_driving == true%> 
								<div style="margin-top:7.5px;text-align:center;">
									<%= image_tag "isDriver.png" %> <br>$<%= post.contribution%> per seat
								</div>
							<%else%>
								<div style="margin-top:7.5px;text-align:center;">
									<%= image_tag "isPassenger.png" %> <br>is passenger 
							<%end%>
								</div>
							</td>
      			</tr>
					</a>
			
  	<%end%>
 		<%end%>
  	<%else%>
<!-For is_driving-!>
   <% Post.where(id: @searchresults).where(is_driving: params[:is_driving]).order("startdate").each do |post| %>
   	<a>
			<tr height="80px;">
      	<td width="80px;">
					<img src=<%= "http://graph.facebook.com/"+post.user.uid+"/picture&type=square"%> class="postindexProfilepic">
				</td>
        <td>
					<div style="font-size:20px;margin-top:8px;">
						<%= link_to post.start.city, post_path(post) %> <%= image_tag "arrow_right.png" %> <%= link_to post.finish.city, post_path(post) %>
						<br>  
						<% post.stops.each do |stop|  %>
					  	<span class="st_tag"><a><%= stop.city %></a></span>
						<%end%>
					</div>
					Departs in
					<%= time_ago_in_words(post.startdate) %> (<%= post.startdate.strftime "%A, %B %d,%Y"%>)
					<%= "at"+post.time if post.time !="Anytime" %>
					<br>
					
					<%if current_user %>
					<% if !current_user.friends.find_by_uid(post.user.uid).nil?%>
						<a href="#" rel="tooltip" data-original-title= "Facebook Friend">
							<%=image_tag("friends_icon.png", size: "30x30")%>
							</a>
							<%end%>
							<!-check for same uni-!>
										<%@educations.each do |inst|%>
								<%if !post.user.educations.where(:name => inst.name).empty?%>
						<a href="#" rel="tooltip" data-original-title= "You and <%=post.user.name%>  went to <%=inst.name%>">
						<%=image_tag("University.png", size: "30x30") %>
					</a>
					<%end%>
						<%end%>
						<% mutual_friends = @graph.get_connections("me", "mutualfriends/#{post.user.uid}").count%>
								<%if mutual_friends > 0 and post.user != current_user %> <%= mutual_friends%> Mutual friends
						
						<%end%> 
						<%end%>
						
						
				</td>
        <td width="80px;">
					<%if post.is_driving == true%> 
						<div style="margin-top:7.5px;text-align:center;">
							<%= image_tag "isDriver.png" %> <br>$<%= post.contribution%> per seat</div>
							
					<%else%>
						<div style="margin-top:7.5px;text-align:center;"><%= image_tag "isPassenger.png" %> <br>is passenger 
					<%end%>
						</div>
					</td>
      	</tr>
			</a>
		</tbody> 
 			
  	<%end%>
  	<%if !Post.where('id NOT IN (?) and startdate > ?', @searchresults, Date.today).where(is_driving: params[:is_driving]).order("startdate").empty?%>
  	<!-Rest of the results-!>
	</tbody>
	</table>
	<div style="clear: both"></div>
	<div class="filterHeader" style="width:700px;padding-left:0px;text-align:center;">
		Rest of the Search Results
	</div>
	<table class="table table-striped" style="width:700px; float:left;">
  		<%  Post.where('id NOT IN (?) and startdate > ?', @searchresults, Date.today).where(is_driving: params[:is_driving]).each do |post| %>

				<a>
					<tr height="80px;">
        		<td width="80px;">
							<a href=<%=url_for(user_profiles_path(post.user))%>>
							<img src=<%= "http://graph.facebook.com/"+post.user.uid+"/picture&type=square"%> class="postindexProfilepic">
							</a>
						</td>
        		<td>
							<div style="font-size:20px;margin-top:8px;">
								<%=link_to post.start.city, post_path(post) %>
								 <%= image_tag "arrow_right.png" %> <%= link_to post.finish.city, post_path(post) %> <br>
								<% post.stops.each do |stop|  %>
				  		<span class="st_tag"><a><%= stop.city %></a></span>
						<%end%> 
							</div>
							Departs in 
							<%=  time_ago_in_words(post.startdate) %>(<%= post.startdate.strftime "%A, %B %d,%Y"%>)
							<%= "at"+post.time if post.time !="Anytime" %>
						<br>
						<%if current_user and post.user != current_user%>
						<% if !current_user.friends.find_by_uid(post.user.uid).nil?%>
						<a href="#" rel="tooltip" data-original-title= "Facebook Friend">
							<%=image_tag("friends_icon.png", size: "30x30")%>
							</a>
							<%end%>
								<%@educations.each do |inst|%>
								<%if !post.user.educations.where(:name => inst.name).empty?%>
						<a href="#" rel="tooltip" data-original-title= "You and <%=post.user.name%>  went to <%=inst.name%>">
						<%=image_tag("University.png", size: "30x30") %>
					</a>
					<%end%>
						<%end%>
						<% mutual_friends = @graph.get_connections("me", "mutualfriends/#{post.user.uid}").count%>
								<%if mutual_friends > 0 and post.user != current_user %> <%= mutual_friends%> Mutual friends
						
						<%end%> 
						
						 <%end%>
						</td>
						
        		<td width="80px;">
							<%if post.is_driving == true%> 
								<div style="margin-top:7.5px;text-align:center;">
									<%= image_tag "isDriver.png" %> <br>$<%= post.contribution%> per seat
								</div>
							<%else%>
								<div style="margin-top:7.5px;text-align:center;">
									<%= image_tag "isPassenger.png" %> <br>is passenger 
							<%end%>
								</div>
							</td>
      			</tr>
					</a>
			
  	<%end%>
 		<%end%>
  	<%end%>
    
	</table>

