<div id="midcontainer">
	<pre>Your Rides</pre>
<%= will_paginate @posts, class:"pager"%>
<table class="table table-striped" style="width:700px;">
	<%if @posts.empty?%>
	<tbody>
      		<a>
						<tr height="80px;">
        			<td width="80px;">
							</td><td>
								<div style="font-size:20px;margin-top:8px;">You have not made any posts Yet</div>
								<br>
							</td>
        			<td></td>
      			</tr>
					</a>
				</tbody> 
	<%else%>
    	<tbody>
    		<% @posts.each do |post| %>
      		<a>
						<tr height="80px;">
        			<td width="80px;">
								<!- EDIT this with correct facebook profile pictures->
								<img src="http://graph.facebook.com/<%=post.user.uid%>/picture" class="postindexProfilepic">
							</td>
        			<td>
								<div style="font-size:20px;margin-top:8px;">
									<%= post.start.city %> <%= image_tag "arrow_right.png" %> <%= post.finish.city %>  
								</div>
								<br><%= link_to post.startdate, post_path(post) %>
							</td>
        			<td>
          			<%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini' %>
          			<%= link_to 'Destroy', post_path(post), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        			</td>
      			</tr>
					</a>
				</tbody> 
  	<%end%>
  	<%end%>
	</table>
</div>
