<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDqWLscHGWh6uk6zlpMat3AUb7lCwWnB24&sensor=false">
</script>
<script type="text/javascript">
		//Variable for holding map object
		var map;

		//Variable for direction objects map object
		var directionsDisplay = new google.maps.DirectionsRenderer();
		var directionsService = new google.maps.DirectionsService();

		jQuery(document).ready(function(){
			/*Map initialization*/
			function initialize() {
				//Create a location object with latitude and longitudes
				var startLoc = new google.maps.LatLng(<%=@post.start.latitude%>, <%=@post.start.longitude%>);

				//Create options for the map object
				var myOptions = {
					zoom:10,
					mapTypeId: google.maps.MapTypeId.ROADMAP,
					center: startLoc
				}

				//Create our map
				map = new google.maps.Map(document.getElementById("map"), myOptions);
			}

			/*Function for creating the roadmap*/
			function calcRoute(start, end, mode) {
				var request = {
					origin:start,
					destination:end,
					/*Show the waypoints*/
					waypoints:[					
					  <% @post.stops.each do |stop|  %>
							{location: "<%= stop.address %>"},
						<%end%>	
					],
					travelMode: google.maps.TravelMode[mode]
				};
				directionsService.route(request, function(result, status) {
					if (status == google.maps.DirectionsStatus.OK) {
						directionsDisplay.setDirections(result);
					}
				});

				directionsDisplay.setMap(map);
			}

			initialize();
			calcRoute('<%=@post.start.address%>', '<%=@post.finish.address%>', 'DRIVING');
		});
	</script>

<div id="midcontainer">
	<div id="postShowStripe"><%=@post.start.city%> <%= image_tag "arrow_right.png" %> <%=@post.finish.city%></div>


<table>
	<tr height="20px"></tr>
	<tr>
		<td>
			<div id="postMap">
				<div style="height:17px;"> </div>
				<div id="map" style="width:664px; height:316px; margin-left:18px; padding-top:18px;"></div>
			</div>
		</td>
		<td width="17px"></td>
		<td rowspan="2" style="vertical-align:top;width:240px;">
			<div style="display:inline;">
				<div class="circle-image-one-fourth">
					<%if @post.is_driving == true%>
						$<%=@post.contribution%>.00 per seat.
					<%else%>
						Willing to pay $<%=@post.contribution%>.00.
					<%end%>
				</div>
				<div class="circle-image-one-fourth">
					<img class="aligncenter" src=<%= "http://graph.facebook.com/"+@post.user.uid+"/picture&type=large"%>>
					<div style="margin-top:17px;">		
				  <%= @post.user.name %> is <%if @post.is_driving == true%>driving.<%else%>a passenger.<%end%><br>
				
          <!- if post belongs to oneself, edit and destroy option->
          <%if @post.user == current_user%>
            <div class="form-actions1">
              <%= link_to 'Edit', edit_post_path(@post), :class => 'btn', :style=>'width:69px;'%>
              <%= link_to 'Delete', post_path(@post), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger',:style=>'width:69px;margin-left:1px;' %>
            </div>
          <%else%>
            <!- orelse send message modal starts here ->
            
            <a data-toggle="modal" href=#send_message class="btn btn-primary" style="width:165px;margin-top:17px;">Send Message</a><br>
            <div class="modal hide fade" id="send_message">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                  <h3>Send Message</h3>
              </div>
              <div class="modal-body">
                <p><%=form_tag send_message_user_profiles_path(@post.user), method: :get do %>

                    <%= text_area_tag :body, params[:body], class:"input-xxlarge", placeholder: "Message", rows:"7",  %><br>

                    <div class="modal-footer">
                      <a href="#" class="btn", data-dismiss="modal">Close</a>
                      <%= submit_tag "Send", :name => nil, class: "btn" %>
                    </div>
                  <%end%>
               </p>
              </div>
            </div>
          <!- End of send Message->
        <%end%>
			</div>
		</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class = "controls">
				<h3><%=@post.start.city%>, <%=@post.start.state%>
			<%= image_tag "arrow_right.png" %> <%=" " +@post.finish.city%>, <%=@post.finish.state%></h3>

			<%result=Geocoder.search(@post.start.address)  %>
			<%= result.first.address%>
			<p>
			  <b>Departs at </b>
			  <%= @post.startdate %> at <%= @post.time%>
			</p>

			<p>
			 <strong>This ride goes through the following places</strong><br>

			  <% @post.stops.each do |stop|  %>
			  	<%= stop.city %>, <%= stop.state %> <br>
				<%end%>
			</p>
			</div>
		</td>
	</tr>
</table>

</div>	
<!------------Note and Contribution Here---Find a plcae for this--->
Note:<%= @post.note%>
